<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UX Feedback SDK Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UX Feedback SDK Demo_objc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UX Feedback SDK Demo_wscene.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UXFeedbackSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A019A3B22365E02002FD4F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A1B9E5323996F0700935E2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2A34982346303200B23383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A46899122840B2C0074E1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
